<!DOCTYPE html>
<!-- CREATE TABLE Courses (
    课程号 VARCHAR(256) PRIMARY KEY,
    课程名称 VARCHAR(256) NOT NULL,
    学时数 INT NOT NULL,
    课程性质 INT CHECK (课程性质 IN (1, 2))
); -->
<html lang="en">
<head>
<base href="./">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>教师教学科研登记系统</title>
<link href="{{ url_for('static', filename='style1.css') }}" rel="stylesheet">
<script>
  function openForm(key) {
    var form = document.getElementById("updateForm");
    form.style.display = "block";
    update_form.key.value = key;
  }

  function openwForm(key) {
    var form = document.getElementById("deleteWarning")
    form.style.display = "block";
    delete_form.key.value = key;
  }

  function openwForm_1(key) {
    var form = document.getElementById("deleteWarning_1")
    form.style.display = "block";
    delete_form_1.key.value = key;
  }

  function closeForm(id) {
    document.getElementById(id).style.display = "none";
  }

  let counter = 1;
  function addInput() {
    const container = document.getElementById('insert_1');
    document.getElementById('cnt').value = counter;
    const input1 = document.createElement('input');
    const input2 = document.createElement('input');
    const input3 = document.createElement('input');
    const input4 = document.createElement('input');
    const datalist = document.createElement('datalist');
    const option1 = document.createElement('option');
    const option2 = document.createElement('option');
    const option3 = document.createElement('option');
    const br = document.createElement('br');
    input1.type = 'text';
    input2.type = 'text';
    input3.type = 'text';
    input4.type = 'text';
    input1.setAttribute('required', "");
    input2.setAttribute('required', "");
    input3.setAttribute('required', "");
    input4.setAttribute('required', "");
    input1.name = '工号'+ counter;
    input2.name = '年份'+ counter;
    input3.name = '学期'+ counter;
    input4.name = '承担学时'+ counter;
    input1.placeholder = '教师' + counter + '工号';
    input2.placeholder = '课程年份';
    input3.placeholder = '课程学期';
    input4.placeholder = '教师' + counter + '承担学时';
    datalist.id = 'datalist' + counter;
    input3.setAttribute('list', 'datalist' + counter);
    option1.text = '春季学期';
    option1.value = '1';
    option2.text = '秋季学期';
    option2.value = '2';
    option3.text = '夏季学期';
    option3.value = '3';
    datalist.appendChild(option1);
    datalist.appendChild(option2);
    datalist.appendChild(option3);
    input3.appendChild(datalist)
    container.appendChild(br);
    container.appendChild(input1);
    container.appendChild(input2);
    container.appendChild(input3);
    container.appendChild(input4);
    counter++;
  }

</script>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div class="form-popup" id="updateForm">
  <form class="form-container" name="update_form" method="POST">
    <h1>更新</h1>
    <div class="small text-muted">缺省值不变</div>
    <input type="hidden" name="key" value="">
    <input type="hidden" name="type" value="update">
    <input type="text" placeholder="课程号" name="课程号">
    <input type="text" placeholder="课程名称" name="课程名称">
    <input type="text" placeholder="学时数" name="学时数">
    <input type="text" placeholder="课程性质" name="课程性质" list="type_list">
    <datalist id="type_list">
      <option value="1">本科生课程</option>
      <option value="2">研究生课程</option>
    </datalist>
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('updateForm')">取消</button>
  </form>
</div>

<div class="form-popup" id="deleteWarning">
  <form class="form-container" name="delete_form" method="POST">
    <p> </p>
    <h2>确认删除？</h2>
    <p> </p>
    <p> </p>
    <input type="hidden" name="type" value="delete">
    <input type="hidden" name="key" value="">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closewForm('deleteWarning');">取消</button>
  </form>
</div>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">教师教学科研登记系统</li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="teacher"> <i class="nav-icon icon-puzzle"></i> 教师</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="paper"> <i class="nav-icon icon-cursor"></i> 论文</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="course"> <i class="nav-icon icon-cursor"></i> 课程</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="project"> <i class="nav-icon icon-star"></i> 项目</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="statistic"> <i class="nav-icon icon-star"></i> 统计</a> </li>
      </ul>
    </nav>
  </div>
  <main class="main">
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query">
                  <input type="text" placeholder="课程号" name="课程号">
                  <input type="text" placeholder="课程名称" name="课程名称">
                  <input type="text" placeholder="学时数" name="学时数">
                  <input type="text" placeholder="课程性质" name="课程性质" list="type_list">
                  <datalist id="type_list">
                    <option value="1">本科生课程</option>
                    <option value="2">研究生课程</option>
                  </datalist>
                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">课程</h4>
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content %}
                  <tr id="{{ i.课程号 }}">
                    <td> {{ i.课程号 }} </td>
                    <td> {{ i.课程名称 }} </td>
                    <td> {{ i.学时数 }} </td>
                    <td> {{ i.课程性质 }} </td>
                    <td><label class="btn btn-success" onclick="openForm(this.parentNode.parentNode.id)">更新</label>
                      <label class="btn bg-danger" onclick="openwForm(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">新建</h4>
            <form class="form-insert" method="POST">
              <input type="hidden" name="type" value="insert">
              <input type="text" placeholder="课程号" name="课程号" required="">
              <input type="text" placeholder="课程名称" name="课程名称" required="">
              <input type="text" placeholder="学时数" name="学时数" required="">
              <input type="text" placeholder="课程性质" name="课程性质" required="" list="type_list">
              <datalist id="type_list">
                <option value="1">本科生课程</option>
                <option value="2">研究生课程</option>
              </datalist>
              <button class="btn btn-warning" type="submit">新建</button>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询课程教学情况</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query_1">
                  <input type="text" placeholder="老师工号" name="工号">
                  <input type="text" placeholder="课程号" name="课程号">
                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">课程教学</h4>
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels1 %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content1 %}
                  <tr id="{{ i.工号 }}">
                    <td> {{ i.工号 }} </td>
                    <td> {{ i.姓名 }} </td>
                    <td> {{ i.课程号 }} </td>
                    <td> {{ i.课程名称 }} </td>
                    <td> {{ i.年份 }} </td>
                    <td> {{ i.学期 }} </td>
                    <td> {{ i.承担学时 }} </td>
                    <td><label class="btn bg-danger" onclick="openwForm_1(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">批量添加/修改教师</h4>
            <form class="form-insert" method="POST" id="insert_1">
              <input type="hidden" name="type" value="insert_1">
              <input type="hidden" name="cnt" id="cnt">
              <input type="text" placeholder="课程号" name="课程号" required="">
              <input type="text" placeholder="添加/修改" name="choose" required="" list="type_list1">
              <datalist id="type_list1">
                <option value="添加">添加</option>
                <option value="修改">修改</option>
              </datalist>
              <button class="btn btn-warning" type="submit">提交</button>
              <button class="btn btn-info" onclick="addInput()" type="button">增加教师</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </main>
  <aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"> <i class="icon-list"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"> <i class="icon-speech"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab"> <i class="icon-settings"></i> </a> </li>
    </ul>    
  </aside>
</div>
</body>
</html>