<!DOCTYPE html>
<!-- CREATE TABLE Papers (
    序号 INT PRIMARY KEY AUTO_INCREMENT,
    论文名称 VARCHAR(256) NOT NULL,
    发表期刊 VARCHAR(256) NOT NULL,
    发表年份 DATE NOT NULL,
    论文类型 INT CHECK (论文类型 IN (1, 2, 3, 4)),
    级别 INT CHECK (级别 IN (1, 2, 3, 4, 5, 6))
); -->
<html lang="en">
<head>
<base href="./">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>教师教学科研登记系统</title>
<link href="{{ url_for('static', filename='style1.css') }}" rel="stylesheet">
<script>
    function openForm(key) {
      var form = document.getElementById("updateForm");
      form.style.display = "block";
      update_form.key.value = key;
    }

    function openForm_1(key) {
      var form = document.getElementById("updateForm_1");
      form.style.display = "block";
      update_form_1.key.value = key;
    }

    function openwForm(key) {
      var form = document.getElementById("deleteWarning")
      form.style.display = "block";
      delete_form.key.value = key;
    }

    function openwForm_1(key) {
      var form = document.getElementById("deleteWarning_1")
      form.style.display = "block";
      delete_form_1.key.value = key;
    }

    function closeForm(id) {
      document.getElementById(id).style.display = "none";
    }

    let counter = 1;
    function addInput() {
      const container = document.getElementById('insert_1');
      document.getElementById('cnt').value = counter;
      // const div = document.createElement('div');
      const input1 = document.createElement('input');
      const input2 = document.createElement('input');
      const input3 = document.createElement('input');
      const datalist = document.createElement('datalist');
      const option1 = document.createElement('option');
      const option2 = document.createElement('option');
      const br = document.createElement('br');
      input1.type = 'text';
      input2.type = 'text';
      input3.type = 'text';
      input1.setAttribute('required', "");
      input2.setAttribute('required', "");
      input3.setAttribute('required', "");
      input1.name = '工号'+ counter;
      input2.name = '排名'+ counter;
      input3.name = '是否通讯作者'+ counter;
      input1.placeholder = '作者' + counter + '工号';
      input2.placeholder = '作者' + counter + '排名';
      input3.placeholder = '作者' + counter + '是否通讯作者';
      datalist.id = 'datalist' + counter;
      input3.setAttribute('list', 'datalist' + counter);
      option1.text = '是';
      option1.value = 'True';
      option2.text = '否';
      option2.value = 'False';
      datalist.appendChild(option1);
      datalist.appendChild(option2);
      input3.appendChild(datalist)
      container.appendChild(br);
      container.appendChild(input1);
      container.appendChild(input2);
      container.appendChild(input3);
      counter++;
    }

</script>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div class="form-popup" id="updateForm">
  <form class="form-container" name="update_form" method="POST">
    <h1>更新</h1>
    <div class="small text-muted">缺省值不变</div>
    <input type="hidden" name="key" value="">
    <input type="hidden" name="type" value="update">
    <input type="text" placeholder="序号" name="序号">
    <input type="text" placeholder="论文名称" name="论文名称">
    <input type="text" placeholder="发表期刊" name="发表期刊">
    <input type="text" placeholder="发表年份" name="发表年份">
    <input type="text" placeholder="论文类型" name="论文类型" list="type_list">
    <datalist id="type_list">
      <option value="1">full paper</option>
      <option value="2">short paper</option>
      <option value="3">poster paper</option>
      <option value="4">demo paper</option>
    </datalist>
    <input type="text" placeholder="级别" name="级别" list="level_list">
    <datalist id="level_list">
      <option value="1">CCF-A</option>
      <option value="2">CCF-B</option>
      <option value="3">CCF-C</option>
      <option value="4">中文 CCF-A</option>
      <option value="5">中文 CCF-B</option>
      <option value="6">无级别</option>
    </datalist>
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('updateForm')">取消</button>
  </form>
</div>

<div class="form-popup" id="updateForm_1">
  <form class="form-container" name="update_form_1" method="POST">
    <h1>更新</h1>
    <div class="small text-muted">缺省值不变</div>
    <input type="hidden" name="key" value="">
    <input type="hidden" name="type" value="update_1">
    <input type="text" placeholder="工号" name="工号">
    <input type="text" placeholder="序号" name="序号">
    <input type="text" placeholder="排名" name="排名">
    <input type="text" placeholder="是否通讯作者" name="是否通讯作者" list="is_list">
    <datalist id="is_list">
      <option value="True">是</option>
      <option value="False">否</option>
    </datalist>
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('updateForm_1')">取消</button>
  </form>
</div>

<div class="form-popup" id="deleteWarning">
  <form class="form-container" name="delete_form" method="POST">
    <p> </p>
    <h2>确认删除？</h2>
    <p> </p>
    <p> </p>
    <input type="hidden" name="type" value="delete">
    <input type="hidden" name="key" value="">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('deleteWarning');">取消</button>
  </form>
</div>

<div class="form-popup" id="deleteWarning_1">
  <form class="form-container" name="delete_form_1" method="POST">
    <p> </p>
    <h2>确认删除？</h2>
    <p> </p>
    <p> </p>
    <input type="hidden" name="type" value="delete_1">
    <input type="hidden" name="key" value="">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('deleteWarning');">取消</button>
  </form>
</div>

<header class="app-header navbar"><span class="badge badge-light">数据库系统及应用Lab</span> </header>
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">教师教学科研登记系统</li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="teacher"> <i class="nav-icon icon-puzzle"></i> 教师</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="paper"> <i class="nav-icon icon-cursor"></i> 论文</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="course"> <i class="nav-icon icon-cursor"></i> 课程</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="project"> <i class="nav-icon icon-star"></i> 项目</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="statistic"> <i class="nav-icon icon-star"></i> 统计</a> </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
  <main class="main">
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query">
                  <input type="text" placeholder="序号" name="序号">
                  <input type="text" placeholder="论文名称" name="论文名称">
                  <input type="text" placeholder="发表期刊" name="发表期刊">
                  <input type="text" placeholder="发表年份" name="发表年份">
                  <input type="text" placeholder="论文类型" name="论文类型" list="type_list">
                  <datalist id="type_list">
                    <option value="1">full paper</option>
                    <option value="2">short paper</option>
                    <option value="3">poster paper</option>
                    <option value="4">demo paper</option>
                  </datalist>

                  <input type="text" placeholder="级别" name="级别" list="level_list">
                  <datalist id="level_list">
                    <option value="1">CCF-A</option>
                    <option value="2">CCF-B</option>
                    <option value="3">CCF-C</option>
                    <option value="4">中文 CCF-A</option>
                    <option value="5">中文 CCF-B</option>
                    <option value="6">无级别</option>
                  </datalist>

                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">论文</h4>
                <!-- <div class="small text-muted">2021 6</div> -->
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content %}
                  <tr id="{{ i.序号 }}">
                    <td> {{ i.序号 }} </td>
                    <td> {{ i.论文名称 }} </td>
                    <td> {{ i.发表期刊 }} </td>
                    <td> {{ i.发表年份 }} </td>
                    <td> {{ i.论文类型 }} </td>
                    <td> {{ i.级别 }} </td>
                    <td><label class="btn btn-success" onclick="openForm(this.parentNode.parentNode.id)">更新</label>
                      <label class="btn bg-danger" onclick="openwForm(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">新建</h4>
            <!-- <div class="small text-muted">请勿缺省</div> -->
            <form class="form-insert" method="POST">
              <input type="hidden" name="type" value="insert">
              <input type="text" placeholder="序号" name="序号" required="">
              <input type="text" placeholder="论文名称" name="论文名称" required="">
              <input type="text" placeholder="发表期刊" name="发表期刊" required="">
              <input type="text" placeholder="发表年份" name="发表年份" required="">
              <input type="text" placeholder="论文类型" name="论文类型" required="" list="type_list">
              <datalist id="type_list">
                <option value="1">full paper</option>
                <option value="2">short paper</option>
                <option value="3">poster paper</option>
                <option value="4">demo paper</option>
              </datalist>

              <input type="text" placeholder="级别" name="级别" required="" list="level_list">
              <datalist id="level_list">
                <option value="1">CCF-A</option>
                <option value="2">CCF-B</option>
                <option value="3">CCF-C</option>
                <option value="4">中文 CCF-A</option>
                <option value="5">中文 CCF-B</option>
                <option value="6">无级别</option>
              </datalist>

              <button class="btn btn-warning" type="submit">新建</button>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询论文发表情况</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query_1">
                  <input type="text" placeholder="老师工号" name="工号">
                  <input type="text" placeholder="论文序号" name="序号">
                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">论文发表</h4>
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels1 %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content1 %}
                  <tr id="{{ i.工号 }}">
                    <td> {{ i.工号 }} </td>
                    <td> {{ i.姓名 }} </td>
                    <td> {{ i.序号 }} </td>
                    <td> {{ i.论文名称 }} </td>
                    <td> {{ i.排名 }} </td>
                    <td> {{ i.是否通讯作者 }} </td>
                    <td><label class="btn btn-success" onclick="openForm_1(this.parentNode.parentNode.id)">更新</label>
                      <label class="btn bg-danger" onclick="openwForm_1(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">添加作者</h4>
            <form class="form-insert" method="POST" id="insert_1">
              <input type="hidden" name="type" value="insert_1">
              <input type="hidden" name="cnt" id="cnt">
              <input type="text" placeholder="论文序号" name="序号" required="">
              <button class="btn btn-warning" type="submit">新建</button>
              <button class="btn btn-info" onclick="addInput()" type="button">增加作者</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </main>
  <aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"> <i class="icon-list"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"> <i class="icon-speech"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab"> <i class="icon-settings"></i> </a> </li>
    </ul>    
  </aside>
</div>
</body>
</html>