<!DOCTYPE html>
<!-- CREATE TABLE Projects (
    项目号 CHAR(5) PRIMARY KEY,
    项目名称 VARCHAR(256) NOT NULL,
    项目来源 VARCHAR(256) NOT NULL,
    项目类型 INT CHECK (项目类型 IN (1, 2, 3, 4, 5)),
    总经费 FLOAT NOT NULL,
    起始年份 DATE NOT NULL,
    结束年份 DATE
); -->
<html lang="en">
<head>
<base href="./">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>教师教学科研登记系统</title>
<link href="{{ url_for('static', filename='style1.css') }}" rel="stylesheet">
<script>
  function openForm(key) {
    var form = document.getElementById("updateForm");
    form.style.display = "block";
    update_form.key.value = key;
  }

  function openForm_1(key) {
    var form = document.getElementById("updateForm_1");
    form.style.display = "block";
    update_form_1.key.value = key;
  }

  function openwForm(key) {
    var form = document.getElementById("deleteWarning")
    form.style.display = "block";
    delete_form.key.value = key;
  }

  function openwForm_1(key) {
    var form = document.getElementById("deleteWarning_1")
    form.style.display = "block";
    delete_form_1.key.value = key;
  }

  function closeForm(id) {
    document.getElementById(id).style.display = "none";
  }
  let counter = 1;
  function addInput() {
    const container = document.getElementById('insert_1');
    document.getElementById('cnt').value = counter;
    const input1 = document.createElement('input');
    const input2 = document.createElement('input');
    const input3 = document.createElement('input');
    const br = document.createElement('br');
    input1.type = 'text';
    input2.type = 'text';
    input3.type = 'text';
    input1.setAttribute('required', "");
    input2.setAttribute('required', "");
    input3.setAttribute('required', "");
    input1.name = '工号'+ counter;
    input2.name = '排名'+ counter;
    input3.name = '承担经费'+ counter;
    input1.placeholder = '参与者' + counter + '工号';
    input2.placeholder = '参与者' + counter + '排名';
    input3.placeholder = '参与者' + counter + '承担经费';
    container.appendChild(br);
    container.appendChild(input1);
    container.appendChild(input2);
    container.appendChild(input3);
    counter++;
  }

</script>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div class="form-popup" id="updateForm">
  <form class="form-container" name="update_form" method="POST">
    <h1>更新</h1>
    <div class="small text-muted">缺省值不变</div>
    <input type="hidden" name="key" value="">
    <input type="hidden" name="type" value="update">
    <input type="text" placeholder="项目号" name="项目号">
    <input type="text" placeholder="项目名称" name="项目名称">
    <input type="text" placeholder="项目来源" name="项目来源">
    <input type="text" placeholder="项目类型" name="项目类型" list="type_list">
    <datalist id="type_list">
      <option value="1">国家级项目</option>
      <option value="2">省部级项目</option>
      <option value="3">市厅级项目</option>
      <option value="4">企业合作项目</option>
      <option value="5">其它类型项目</option>
    </datalist>
    <label for="email"><b>总经费</b></label>
    <input type="text" placeholder="总经费" name="总经费">
    <label for="email"><b>起始年份</b></label>
    <input type="text" placeholder="起始年份" name="起始年份">
    <label for="email"><b>结束年份</b></label>
    <input type="text" placeholder="结束年份" name="结束年份">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('updateForm')">取消</button>
  </form>
</div>

<div class="form-popup" id="deleteWarning">
  <form class="form-container" name="delete_form" method="POST">
    <p> </p>
    <h2>确认删除？</h2>
    <p> </p>
    <p> </p>
    <input type="hidden" name="type" value="delete">
    <input type="hidden" name="key" value="">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closewForm('deleteWarning');">取消</button>
  </form>
</div>

<div class="form-popup" id="deleteWarning_1">
  <form class="form-container" name="delete_form_1" method="POST">
    <p> </p>
    <h2>确认删除？</h2>
    <p> </p>
    <p> </p>
    <input type="hidden" name="type" value="delete_1">
    <input type="hidden" name="key" value="">
    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="window.location.reload();">确认</button>
    <button type="button" class="btn bg-danger" onclick="closeForm('deleteWarning');">取消</button>
  </form>
</div>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">教师教学科研登记系统</li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="teacher"> <i class="nav-icon icon-puzzle"></i> 教师</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="paper"> <i class="nav-icon icon-cursor"></i> 论文</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="course"> <i class="nav-icon icon-cursor"></i> 课程</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="project"> <i class="nav-icon icon-star"></i> 项目</a> </li>
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle" href="statistic"> <i class="nav-icon icon-star"></i> 统计</a> </li>
      </ul>
    </nav>
  </div>
  <main class="main">
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query">
                  <input type="text" placeholder="项目号" name="项目号">
                  <input type="text" placeholder="项目名称" name="项目名称">
                  <input type="text" placeholder="项目来源" name="项目来源">
                  <input type="text" placeholder="项目类型" name="项目类型" list="type_list">
                  <datalist id="type_list">
                    <option value="1">国家级项目</option>
                    <option value="2">省部级项目</option>
                    <option value="3">市厅级项目</option>
                    <option value="4">企业合作项目</option>
                    <option value="5">其它类型项目</option>
                  </datalist>
                  <input type="text" placeholder="总经费" name="总经费">
                  <input type="text" placeholder="起始年份" name="起始年份">
                  <input type="text" placeholder="结束年份" name="结束年份">
                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">项目</h4>
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content %}
                  <tr id="{{ i.项目号 }}">
                    <td> {{ i.项目号 }} </td>
                    <td> {{ i.项目名称 }} </td>
                    <td> {{ i.项目来源 }} </td>
                    <td> {{ i.项目类型 }} </td>
                    <td> {{ i.总经费 }} </td>
                    <td> {{ i.起始年份 }} </td>
                    <td> {{ i.结束年份 }} </td>
                    <td><label class="btn btn-success" onclick="openForm(this.parentNode.parentNode.id)">更新</label>
                      <label class="btn bg-danger" onclick="openwForm(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">新建</h4>
            <!-- <div class="small text-muted">请勿缺省</div> -->
            <form class="form-insert" method="POST">
              <input type="hidden" name="type" value="insert">
              <input type="text" placeholder="项目号" name="项目号" required="">
              <input type="text" placeholder="项目名称" name="项目名称" required="">
              <input type="text" placeholder="项目来源" name="项目来源" required="">
              <input type="text" placeholder="项目类型" name="项目类型" required="" list="type_list">
              <datalist id="type_list">
                <option value="1">国家级项目</option>
                <option value="2">省部级项目</option>
                <option value="3">市厅级项目</option>
                <option value="4">企业合作项目</option>
                <option value="5">其它类型项目</option>
              </datalist>
              <input type="text" placeholder="总经费" name="总经费" required="">
              <input type="text" placeholder="起始年份" name="起始年份" required="">
              <input type="text" placeholder="结束年份(可缺省)" name="结束年份">
              <button class="btn btn-warning" type="submit">新建</button>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
                <h4 class="card-title mb-0">查询项目承担情况</h4>
                <form class="form-insert" method="POST">
                  <input type="hidden" name="type" value="query_1">
                  <input type="text" placeholder="老师工号" name="工号">
                  <input type="text" placeholder="项目号" name="项目号">
                  <button class="btn btn-info" type="submit">查询</button>
                </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">项目承担</h4>
              </div>
            </div>
            <div>             
              <div>
                <table id="bank-table">
                  <tr> {% for i in labels1 %}
                    <th> {{ i }} </th>
                    {% endfor %}
                    <th>操作</th>
                  </tr>
                  {% for i in content1 %}
                  <tr id="{{ i.工号 }}">
                    <td> {{ i.工号 }} </td>
                    <td> {{ i.姓名 }} </td>
                    <td> {{ i.项目号 }} </td>
                    <td> {{ i.项目名称 }} </td>
                    <td> {{ i.排名 }} </td>
                    <td> {{ i.承担经费 }} </td>
                    <td><label class="btn bg-danger" onclick="openwForm_1(this.parentNode.parentNode.id)">删除</label></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="insert-container">
            <h4 class="card-title mb-0">批量添加/修改参与者</h4>
            <form class="form-insert" method="POST" id="insert_1">
              <input type="hidden" name="type" value="insert_1">
              <input type="hidden" name="cnt" id="cnt">
              <input type="text" placeholder="项目号" name="项目号" required="">
              <input type="text" placeholder="添加/修改" name="choose" required="" list="type_list1">
              <datalist id="type_list1">
                <option value="添加">添加</option>
                <option value="修改">修改</option>
              </datalist>
              <button class="btn btn-warning" type="submit">提交</button>
              <button class="btn btn-info" onclick="addInput()" type="button">增加参与者</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </main>
  <aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"> <i class="icon-list"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"> <i class="icon-speech"></i> </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab"> <i class="icon-settings"></i> </a> </li>
    </ul>    
  </aside>
</div>
</body>
</html>